<form>
  <ng-container ngModelGroup="character">
    <div class="form-group">
      <label class="form-label" for="name">Name:</label>
      <input
        class="form-control"
        type="text"
        name="name"
        [ngModel]="character.name"
      />
    </div>

    <fieldset ngModelGroup="bioSummary">
      <legend>Bio Summary</legend>
      <div class="form-group">
        <label class="form-label" for="age">Age:</label>
        <input
          class="form-control"
          type="number"
          name="age"
          [ngModel]="character.bioSummary.age"
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="alignment">Alignment:</label>
        <input
          class="form-control"
          type="text"
          name="alignment"
          [ngModel]="character.bioSummary.alignment"
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="race">Race:</label>
        <input
          class="form-control"
          type="text"
          name="race"
          [ngModel]="character.bioSummary.race"
        />
      </div>
    </fieldset>

    <fieldset>
      <legend>Character Skills</legend>

      <input
        #s
        class="form-control"
        placeholder="Add Skill: Dancing..."
        type="text"
        name="addSkill"
        (keyup.enter)="addSkill(s)"
      />
      <button type="button" class="btn btn-primary" (click)="addSkill(s)">
        Add
      </button>
      <div class="mt-3" *ngIf="character.skills && character.skills.length > 0">
        <div class="skill" *ngFor="let skl of character.skills; let i = index">
          {{ skl }}
          <span (click)="removeSkill(i)" class="badge bg-danger">X</span>
        </div>
      </div>
    </fieldset>
  </ng-container>
  <button
    [disabled]="!(isFormValid$ | async)"
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
