<form>
  <ng-container ngModelGroup="character">
    <div class="form-group">
      <label class="form-label" for="name">Character Name:</label>
      <input
        class="form-control"
        type="text"
        name="name"
        [(ngModel)]="character.name"
      />
    </div>

    <fieldset ngModelGroup="bioSummary">
      <legend>Bio Summary</legend>
      <div class="form-group">
        <label class="form-label" for="age">Age:</label>
        <input
          class="form-control"
          type="number"
          name="age"
          [(ngModel)]="character.bioSummary.age"
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="alignment">Alignment:</label>
        <input
          class="form-control"
          type="text"
          name="alignment"
          [(ngModel)]="character.bioSummary.alignment"
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="race">Race:</label>
        <input
          class="form-control"
          type="text"
          name="race"
          [(ngModel)]="character.bioSummary.race"
        />
      </div>
    </fieldset>
    <fieldset ngModelGroup="skills">
      <legend>Character Skills</legend>

      <label class="form-label" for="addSkill">Add skill:</label>
      <input
        #s
        class="form-control"
        placeholder="Dancing..."
        type="text"
        name="addSkill"
        (keyup.enter)="addSkill(s)"
      />
      <button type="button" class="btn btn-primary" (click)="addSkill(s)">
        Add
      </button>
      <!-- <div class="form-group">
        <label for="skills">Hold shift to select multiple</label>
        <select name="skills" class="form-control" multiple>
          <option *ngFor="let skl of skills; let i = index" [value]="skl">
            {{ skl }}
          </option>
        </select>
      </div> -->
    </fieldset>
  </ng-container>
</form>
